{% extends "encyclopedia/layout.html" %}

{% block title %} Edit entry {% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="form-group mt-3">    
        <input type="text" class="form-control mb-2" name="title" placeholder="Title" value="{{title}}" disabled>
        <textarea type="textarea" class="form-control" name="entry" rows="10" placeholder="Write description here...">{{entry}}</textarea>
    </div>
    <div class="form-group mt-3">
        <input class="btn btn-primary" type="submit" value="Save">
    </div>  
</form>
{% endblock %}